@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a293c;
  color: #f0fafb;
}
#root {
  @apply flex justify-center;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.field {
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  background-image: url('./assets/field.png'), url('./assets/grass.png');
}
